.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Merriweather", serif;
    font-weight:normal;
    flex-wrap: wrap;
  }
  
  .box {
    width: 45%;
    margin: 10px;
    padding: 20px;
    text-align: center;
  }

  .input input {
    padding: 15px;
    margin: 10px;
    width: 60%;
    font-size: 16px;
    border: 2px solid #ccc; 
    transition: border-color 0.3s ease; 
  }

  .input input [type="checkbox"]{
    width: 1%;
    padding: 0px;
    margin: 0px;
  }
  
  .input input:focus {
    border-color: blue; 
    outline: none; 
  }
  
  .box button {
    padding: 15px 39px;
    font-weight: bold;
    border-radius: 8%;
    margin: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .box button:hover {
    background-color: rgba(0, 0, 139, 0.925);
    transform: scale(1.1);
  }
  
 .box button:active {
    transform: scale(1);
  }
  
  .box button:focus {
    outline: none;
    box-shadow: 0 0 5px 3px rgba(0, 0, 255, 0.5);
  }
  
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.checkbox-container input[type="checkbox"] {
  width: auto; 
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

  @media (max-width: 768px) {
    .box {
      width: 80%;
      margin: 15px 0;
    }  
    .input input {
      width: 90%;
    }
  
   .box button {
      width: 100%;
    }
  
    h2, h6 {
      text-align: center;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px;
    }
  
    .box {
      width: 100%;
      text-align: center;
    }
  
    .input input {
      width: 100%;
    }
  
    .box button {
      width: 100%;
    }
  
    h3 {
      text-align: center;
      font-size: 16px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h6 {
      font-size: 14px;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }
  